*{
	padding: 10;
	margin: 0;
	box-sizing: border-box;
	}
h2{
	font-size: 40px;
}
table{
	letter-spacing: 1.2px;
	/* color: black; */
}
td{
	text-align: center;
	/* color: black; */
	text-decoration: solid;
}
button{
	border:none;
	background: black;
    transition: 1s;
}
@media only screen and (orientation: portrait){
	*{
		letter-spacing: 1px;
	}
}